-   repo: git://github.com/pre-commit/pre-commit-hooks
    sha: 7192665e31cea6ace58a71e086c7248d7e5610c2
    hooks:
    -   id: autopep8-wrapper
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: debug-statements
    -   id: detect-private-key
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: flake8
    -   id: requirements-txt-fixer
-   repo: git://github.com/asottile/reorder_python_imports
    sha: ab609b9b982729dfc287b4e75963c0c4de254a31
    hooks:
    -   id: reorder-python-imports
